@use 'colors'
@use 'defaults'

.blog
    height: fit-content
    min-height: 88.6vh
    width: 94vw

    margin: 3vw 3vh

    border-radius: defaults.$corners
    
    background: colors.$bg-primary
    box-shadow: rgba(19, 19, 19, 0.3) 0rem 0.75rem 2.25rem 0rem

    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column

    .blog-entry
        height: fit-contentt
        width: 100%

        margin-top: 30px

        display: flex
        justify-content: center
        align-items: center
        flex-direction: row

        .blog-entry-date
            width: 160px
            height: 100%

            font-size: 1.2rem
            font-weight: 300
            font-style: italic
            font-family: 'Nunito'
            color: colors.$fg-primary

            text-align: right
            align-content: center

        .blog-entry-separator
            width: 4px
            height: 100px
            
            margin: 0px 3vw

            border-radius: 5px
            background: colors.$bg-secondary

        .blog-entry-main
            height: 100%
            flex-grow: 1

            display: flex
            justify-content: center
            align-items: flex-start
            flex-direction: column

            .blog-entry-title
                font-size: 2rem
                font-weight: 400
                font-family: 'Fira Mono'
                color: colors.$font-dark

                margin-bottom: 4px

                text-align: center

            .blog-entry-tags
                width: 100%

                display: flex
                justify-content: flex-start
                align-items: center
                flex-direction: row

                .blog-entry-tag
                    margin-right: 5px

                    padding: 5px 10px

                    border-radius: 1000px

                    background: colors.$bg-primary
                    color: colors.$fg-primary

                    font-size: 0.8rem
                    font-weight: 700
                    font-family: 'Nunito'

        .blog-entry-extra
            width: 160px
            height: 100%

            display: flex
            justify-content: center
            align-items: flex-start
            flex-direction: column

            .blog-entry-words
                font-size: 1.1rem
                font-weight: 200
                font-family: 'Nunito'
                color: colors.$fg-primary

                text-align: right

            .blog-entry-time
                font-size: 1.1rem
                font-weight: 200
                font-family: 'Nunito'
                color: colors.$fg-primary

                text-align: right

    .blog-content
        width: 90%
        max-width: 1200px
        height: fit-content

        font-size: 1.3rem
        font-weight: 200
        font-family: 'Nunito'
        text-align: justify
        color: colors.$font-darker

        justify-content: center
        align-items: flex-start

        padding: 30px 15px 0px 15px

        p
            font-family: 'Nunito'
            font-size: 24px
            font-weight: 200
            text-align: justify
            color: colors.$font-darker

            margin: 0px 0px 20px 0px