@use 'colors'
@use 'defaults'

.blog
    min-height: 96vh
    height: fit-content
    width: 95vw

    background: #00000000

    margin: 2vh 2vw

    .blog-container
        min-height: 93vh
        height: fit-content
        width: 100%

        padding-bottom: 30px

        border-radius: defaults.$corners
        
        background: colors.$bg-primary
        box-shadow: rgba(19, 19, 19, 0.3) 0rem 0.75rem 2.25rem 0rem

        display: flex
        justify-content: flex-start
        align-items: center
        flex-direction: column

        .blog-entry
            height: fit-content
            width: 100%

            margin-top: 30px

            display: flex
            justify-content: center
            align-items: center
            flex-direction: row

            .blog-entry-date
                min-width: 150px
                height: 100%

                font-size: 1.3rem
                font-weight: 300
                font-style: italic
                font-family: 'Nunito'
                color: colors.$fg-primary

                text-align: right
                align-content: center

            .blog-entry-separator
                width: 4px
                height: 100px
                
                margin: 0px 30px

                border-radius: 5px
                background: colors.$bg-secondary

            .blog-entry-main
                height: fit-content
                width: 85%

                overflow: hidden

                display: flex
                justify-content: center
                align-items: flex-start
                flex-direction: column
                gap: 10px

                .blog-entry-title
                    width: 100%
                    height: 100%

                    font-size: 2.2rem
                    font-weight: 400
                    font-family: 'Fira Mono'
                    color: colors.$font-dark
                    overflow: hidden

                    text-decoration: none
                    text-align: left

                .blog-entry-tags
                    width: 100%

                    display: flex
                    justify-content: flex-start
                    align-items: center
                    flex-direction: row

                    .blog-entry-tag
                        margin: 0px 5px 0px 0px
                        padding: 5px 10px

                        border-radius: 1000px

                        background: colors.$bg-secondary
                        color: colors.$fg-primary

                        font-size: 1.1rem
                        font-weight: 700
                        font-family: 'Nunito'

            .blog-entry-extra
                min-width: 150px
                height: 100%

                display: flex
                justify-content: center
                align-items: flex-start
                flex-direction: column

                .blog-entry-words
                    font-size: 1.1rem
                    font-weight: 200
                    font-family: 'Nunito'
                    color: colors.$fg-primary

                    text-align: right

                .blog-entry-time
                    font-size: 1.1rem
                    font-weight: 200
                    font-family: 'Nunito'
                    color: colors.$fg-primary

                    text-align: right

        .blog-content
            width: 90%
            max-width: 1200px
            height: fit-content

            font-size: 1.3rem
            font-weight: 200
            font-family: 'Nunito'
            text-align: justify
            color: colors.$font-darker

            justify-content: center
            align-items: flex-start

            padding: 30px 15px 0px 15px
