@use 'colors'
@use 'defaults'

#card
    height: 450px
    width: 90%
    
    margin: 100px 50px 0px 50px
    border-radius: defaults.$corners
    
    background: radial-gradient(50% 100% at 50% 100%, colors.$bg-secondary 0%, colors.$bg-primary 130%)
    box-shadow: rgba(19, 19, 19, 0.3) 0rem 0.75rem 2.25rem 0rem

    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row

    position: relative
    transition: width 0.3s ease // Add transition for smooth animation

    &:hover
        width: 100% // Increase width on hover

    #card-visual
        height: 100%
        flex-grow: 1

        position: relative
        overflow: hidden
        
        #card-image-left
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            border-top-left-radius: defaults.$corners
            border-bottom-left-radius: defaults.$corners
            object-fit: cover

        #card-image-right
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            border-top-right-radius: defaults.$corners
            border-bottom-right-radius: defaults.$corners
            object-fit: cover

    #card-text
        height: 100%
        width: 35vw

        padding: 0px 50px

        display: flex
        justify-content: start
        align-items: center
        flex-direction: column
        transition: all 0.3s ease

        #card-title
            height: 100px
            font-size: 60px
            font-weight: 400
            align-content: end
            color: colors.$font-card-title

        #card-subtitle
            height: 50px
            font-size: 20px
            font-weight: 200
            align-content: start
            color: colors.$font-card-subtitle

        #card-description
            font-size: 20px
            font-weight: 300
            flex-grow: 1
            align-content: center
            color: colors.$font-card-description

        #card-engine
            height: 50px
            width: 50px
            padding: 25px
                        