$fg-primary: #FE938C
$fg-secondary: #bd9264
$fg-accent: #ffb543

$bg-primary: #4c4252
$bg-secondary: #685D6F

$cont-primary: #7D6F85 
$cont-secondary: #A07E94

$light: #fff

$font-light: #2d2b36
$font-dark: #e3e3e3
$font-darker: #c5bfb3
$font-accent: #ffb543

$font-primary: 'Fira Mono', sans-serif
