$fg-primary: #4967a3
$fg-secondary: #435475
$fg-accent: #ffb543

$bg-primary: #2d2b36
$bg-secondary: #3c374a

$cont-primary: #5b5291 
$cont-secondary: #415887
$cont-terciary: #2f384c 

$light: #fff

$font-light: #2d2b36
$font-dark: #e3e3e3
$font-accent: #ffb543

$font-card-title: #e3e3e3
$font-card-subtitle: #ffb543
$font-card-description: #c5bfb3

$font-primary: 'Fira Mono', sans-serif
