$fg-primary: #FE938C
$fg-secondary: #b9756c
$fg-accent: #ffb543

$bg-primary: #4c4252
$bg-secondary: #685D6F

$cont-primary: #7D6F85 
$cont-secondary: #A07E94

$light: #fff

$font-light: #2d2b36
$font-dark: #e3e3e3
$font-accent: #ffb543

$font-card-title: #e3e3e3
$font-card-subtitle: #ffb543
$font-card-description: #c5bfb3

$font-primary: 'Fira Mono', sans-serif
