// Defaults

$spacing: 1rem
$spacing-half: $spacing / 2
$spacing-double: $spacing * 2

$corners: 2rem

// Pading and Margin

body
    padding: 0px 0px
    margin: 0px 0px

h1
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

h2
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

h3
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

h4
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

h5
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

h6
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

p
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

a
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

ul
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

li
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600

img
    padding: 0px 0px
    margin: 0px 0px

    font-family: 'Fira Mono'
    font-weight: 600
