{% extends "base.html" %} {% block content %}
<div class="blog">
  {% for page in section.pages %}
  <div class="blog-entry">
    <p class="blog-entry-date">{{ page.date }}</p>
    <div class="blog-entry-separator"></div>
    <div class="blog-entry-main">
      <a class="blog-entry-title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
      <div class="blog-entry-tags">
        {% for tag in page.extra.tags %}
        <p class="blog-entry-tag">{{tag}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="blog-entry-separator"></div>
    <div class="blog-entry-extra">
      <p class="blog-entry-words">{{ page.word_count }} words</p>
      <p class="blog-entry-time">{{ page.reading_time }} minutes</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
