{% extends "base.html" %} {% block content %}
<header>

</header>
<div class="portfolio-container">
  <main class="isle-card">
    <div class="profile-section">
      <img src="../images/me.jpeg" class="avatar">
      <h1>Manuel Segura</h1>
      <p class="tagline">Senior Game Developer, Teacher</p>

      <div class="tech-stack-grid">
        <img src="../images/tech/unity_logo.png" class="tech-icon" />
        <img src="../images/tech/unreal_logo.png" class="tech-icon" />
        <img src="../images/tech/godot_logo.png" class="tech-icon" />
        <img src="../images/tech/cpp_logo.png" class="tech-icon" />
        <img src="../images/tech/cs_logo.png" class="tech-icon" />
        <img src="../images/tech/zig_logo.png" class="tech-icon" />
        <img src="../images/tech/rust_logo.png" class="tech-icon" />
        <img src="../images/tech/git_logo.png" class="tech-icon" />
        <img src="../images/tech/playfab_logo.png" class="tech-icon" />
        <img src="../images/tech/aws_logo.png" class="tech-icon" />
      </div>
    </div>

    <nav class="isle-nav">
      <a href="{{ get_url(path='blog/') }}" class="nav-item">Blog</a>
      <a href="{{ get_url(path='portfolio/') }}" class="nav-item">Portfolio</a>
      <button class="nav-item contact-btn" data-email="your.email@example.com">Contact</button>
    </nav>
  </main>
</div>
{% endblock content %}