{% extends "base.html" %} {% block content %}
<header>
  <div class="header-top">
    <div class="header-top-left">
      <a href="{{ get_url(path='@/_index.md') }}">
        <img class="header-top-left-logo" src="../images/tkl_logo.png" alt=""
      /></a>
      <!-- <h1 class="header-top-left-title">{{config.title}}</h1> -->
    </div>
    <div class="header-top-right">
      <span class="button" onclick="scrollToBottom()"><p class="button-text">&#128231; Contact</p></span>
      <span class="button"
        ><p class="button-text"><a href="{{ get_url(path='@/blog/_index.md') }}">&#128218; Blog</a></p></span
      >
    </div>
  </div>
  <div class="header-bot">
    <h1 class="header-bot-title">&#128187; - Hi, I am {{config.extra.alias}}.</h1>
    <div class="header-bot-social-container">
      <span class="button header-bot-social-button"
        ><a href="https://github.com/T3kla" target="_blank"
          ><img class="button header-bot-social-button-image" src="../images/tech/github_logo.png" alt="" /></a
      ></span>
      <span class="button header-bot-social-button"
        ><a href="https://www.linkedin.com/in/manuelsegura94/" target="_blank"
          ><img class="button header-bot-social-button-image" src="../images/tech/linkedin_logo.png" alt="" /></a
      ></span>
    </div>
    <div class="header-bot-arrow" onclick="scrollToContent()"></div>
  </div>
  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
</header>
<div class="separator">
  <h1 class="separator-text">About me</h1>
  <div class="separator-image"></div>
</div>
<div class="about">
  <div class="about-about">
    <img class="about-image" src="../images/me.jpeg" alt="" />
    <p class="about-text">
      Hello! My name is Manuel Segura, and I'm a game developer and programmer with <b> +11 years of experience</b>.
      Over the years, I have acquired a deep understanding of game engines, which I use to turn my creative vision into
      tangible games.<br /><br />
      In addition, I'm also a teacher. I love sharing my knowledge and experience with others, helping aspiring
      developers learn the skills they need to succeed in the industry.
    </p>
  </div>
  <div class="about-techstack">
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/unity_logo.png" alt="" />
      <p class="about-techstack-text">Unity</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/unreal_logo.png" alt="" />
      <p class="about-techstack-text">UE5</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/godot_logo.png" alt="" />
      <p class="about-techstack-text">Godot</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/cpp_logo.png" alt="" />
      <p class="about-techstack-text">C++</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/cs_logo.png" alt="" />
      <p class="about-techstack-text">C#</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/rust_logo.png" alt="" />
      <p class="about-techstack-text">Rust</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/zig_logo.png" alt="" />
      <p class="about-techstack-text">Zig</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/git_logo.png" alt="" />
      <p class="about-techstack-text">Git</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/html_logo.png" alt="" />
      <p class="about-techstack-text">HTML</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/css_logo.png" alt="" />
      <p class="about-techstack-text">CSS</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/playfab_logo.png" alt="" />
      <p class="about-techstack-text">Playfab</p>
    </div>
    <div class="about-techstack-pill">
      <img class="about-techstack-image" src="../images/tech/aws_logo.png" alt="" />
      <p class="about-techstack-text">AWS</p>
    </div>
  </div>
</div>
<div class="separator">
  <h1 class="separator-text">Portfolio</h1>
  <div class="separator-image"></div>
</div>
<div class="content">{% for post in section.pages %} {{post.content | safe}} {% endfor %}</div>
<div class="footer">
  <p class="footer-text">
    Contact me! -> <a class="footer-email" href="mailto:segura.manu.jesus@gmail.com">segura.manu.jesus@gmail.com</a>
  </p>
  <br />
  <br />
  <p class="footer-text">{{config.extra.copyright}} · Powered by Zola</p>
</div>
{% endblock content %}
